*{
    box-sizing: border-box;
    margin:0;padding:0;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    background:hsl(217, 54%,  11%);
    font-family: "Outfit";
    padding:1em;
}
main{
    padding:2em;
    background:hsl(216, 50%, 16%);
    border-radius: 1em;
}
.image-equilibrium{
    max-width:30em ;
    height:20em;
    margin:auto;
    
    
}
p{
    color:hsl(215, 51%, 70%);
    font-size: 18px;
    font-weight: 400;
}
.image-equilibrium img{
    height:100%; width:100%;
    border-radius: 0.5em;
    
}
.product-date, .footer{
    padding: 0.8em 0;
}
h1{
    color:white;
    padding: 0.5em 0;
    font-weight: 600;
}

h1,p{
    text-align: left;
}
.product-date{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    font-weight: 300;
    align-items: center;

}
.each-item{
    display:flex;
    justify-content: right;
    align-items: center;
    color:hsl(215, 51%, 70%);
    gap:0.4em;
}
#first-item{
    display:flex;
    justify-content: left;
    align-items: center;
    color:hsl(178, 100%, 50%);
}
.footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.avatar{
    width:60px; height:60px;
    border-radius: 50%;
    padding:0.1em;
    background:white;
}
.avatar img{
    width:100%;
    height:100%;
}
.footer-note{
    color:hsl(0, 0%, 100%);
    font-weight: 400;
}
span{
    color:hsl(215, 51%, 70%);
}